@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stardos+Stencil:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    color: white;
    font-family: "Stardos Stencil", system-ui;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 0 25px black;
    font-size: 130px;
    padding-bottom: 0.5em;
}

body{
    background-color: black;
    font-family: "Montserrat", sans-serif;
    background-image: url(./img/Ladrillos.jpg);
    text-align: center;
}

.contenedor{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

legend{
    font-weight: bolder;
    position: relative;
    top: -1em;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3em;
    width: 800px;
}

.formulario input{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 500px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.formulario input:focus{
    outline: none;
}

select{
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 500px;
}

fieldset{
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 90%;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.2);
    margin-bottom: 3em;
}

textarea{
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    max-width: 500px;
    width: 100%;
    height: 5px;
    padding: 1em;
}

textarea:focus{
    outline: none;
}


.sexo, .palermo, .rosario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: bold;
}

.palermo, .rosario{
    color: black;
}

button{
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0 0 25px #00BBF9;
    border-radius: 10px;
    padding: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color: black;
}

.boton{
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    gap: 2em;
}