@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(./img/Fondo.png );
    background-repeat: round;
    background-size: 100%;
    font-family: "Courier Prime", monospace;
    font-weight: bolder;

}

.contenedor{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 2em;
    margin-left: 2em;
}

.titulo{
    font-family: "Shrikhand", serif;
    color: #FED766;
    text-shadow: 5px 5px #FE4A49, 10px 10px #009FB7;
    font-size: 70px;
    position: relative;
    left: 150px;
    margin-bottom: 0.5em;
}

legend{
    background-color: beige;
    border-radius: 20px;
    width: 500px;
    height: 2em;
    position: relative;
    left: 40px;
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    box-shadow:10px 10px #009FB7;
    margin: 1em;
    font-weight: bolder;
}

fieldset{
    border-width: 0cap;
}

.formulario{
    color: #D34A24;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #EFDEC4;
    font-weight: bolder;
    line-height: 2em;
}

.formulario input{
    background-color: #EFDDC1;
    border-top: #EFDDC1;
    border-left: #EFDDC1;
    border-right: #EFDDC1;
    border-color: gray;
    padding-left: 5em;
}

.formulario input:hover, .formulario input:focus, .formulario input:visited{
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    background-color: #EFDDC1;
}

.formulario input::placeholder{
    font-family: "Courier Prime", monospace;
}

select{
    background-color: #EFDDC1;
    border-width: 0cap;
    border-radius: 20px;
    font-family: "Courier Prime", monospace;
    text-align: center;
}

select:hover{
    background-color: beige;
    color: black;
}

.formulario input:focus{
    background-color: #EFDDC1;
    outline: none;
}

textarea{
    background-color: #EFDDC1;
    max-width: 100%;
    width: 70%;
    height: 5em;
    border-radius: 5px;
    border-width: 0.1cap;
    padding: 1em;
}

textarea:hover{
    outline: none;
    background-color: beige;
}

.rosario, .palermo{
    color: #992800;
}

button{
    background-color: #FED766;
    border-radius: 20px;
    padding: 1em;
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    box-shadow: 5px 5px #D34A24;
    border: none;
    
}

.boton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    gap: 2em;

}


